.logo
{
    display: inline-block;
    width: auto;
    height: 50px;
}

.search-result-inner,
.prompt-image-wrapper
{
    width: 100%;
    background-size: cover;
    border-radius: 3px;
    padding: 4px;
}

.search-result-inner
{
    height: 240px;
}

.prompt-image-wrapper
{
    height: 360px;
}

.search-result a,
.search-result a:hover,
.search-result a:focus,
.search-result a:active
{
    text-decoration: none;
}

.search-result-inner:hover,
.search-result-inner:focus,
.search-result-inner:active
{
    box-shadow: 0 0 1px #AAA;
    cursor: pointer;
}

.emoji-row
{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 60px;
    height: 100px;
}

.emoji-row span
{
    display: block;
    font-size: 26px;
}

.reaction-active,
.reaction-inactive
{
    cursor: pointer;
}

.reaction-inactive {
    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
    filter: grayscale(80%);
}

.reaction-active span {
    font-size: 28px;
}

.button-row-controls button
{
    font-size: 21px;
}

.button-row-controls .emojione
{
    /* This will trigger min-height of 20px to match (mostly) the other icons */
    font-size: 10px;
}

.comment-vote-controls
{
    margin: 0 10px 10px 0;
    top: 6px;
}

.comment-vote-controls button
{
    padding: 4px;
}

.achievement
{
    border: 1px solid grey;
    height: 106px;
    padding: 12px;
    border-radius: 3px;
}

.achievement-text
{
    padding-left: 90px;
}

.achievement img
{
    width: 80px;
    height: 80px;
    border-radius: 4px;
    background-size: cover;
}

.achievement-earned
{
    border-color: gold;
}

.achievement-earned i
{
    color: green;
}

.edit-account-profile-picture
{
    width: 120px;
    height: 100px;
    padding-right: 20px;
}

button[type="button"].btn.btn-secondary.btn-toggle-on 
{
	background-color: #e6e6e6;
	border-color: #adadad;
}

.story-item + .story-item,
.account-story + .account-story,
.account-comment + .account-comment
{
    margin-top: 12px;
}

.write-story-box
{
    min-height: 10em;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.read-author
{
    display: table-cell;
    line-height: 25px;
    padding: 8px 16px;
    font-size: 21px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.main-logo-link
{
    font-size: 36px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    max-width: 260px;
}

.main-logo-link:hover,
.main-logo-link:active,
.main-logo-link:focus,
.account-link-container a,
.account-link-container a:hover,
.account-link-container a:active,
.account-link-container a:focus,
.btn-link.menu-link:hover,
.btn-link.menu-link:active,
.btn-link.menu-link:focus,
.menu-link span:hover,
.menu-link span:active,
.menu-link span:focus,
.menu-link i:hover,
.menu-link i:active,
.menu-link i:focus
{
    text-decoration: none;
}

.account-link-container
{
    margin-top: 10px;
}

.account-link-image
{
    width: calc(2em - 2px);
    height: calc(2em - 2px);
}

.menu-link:hover,
.menu-link:active
{
    cursor: pointer;
}

.menu-link-wrapper
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
}

/* line below main header */
header > .container > .row.m-t-1:after
{
    content: "";
    display: block;
    width: 93%;
    height: 1px;
    margin: 0 auto;
    background-color: #EFEFEF;
}

.sidebar-navigation
{
    height: 100%;
    width: 0px;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #222;
    color: white;
    transition: width 0.5s;
}

.sidebar-navigation.active
{
    width: 300px;
    max-width: 100vw;
}

.sidebar-navigation a
{
    display: block;
    padding: 8px 8px 8px 20px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.sidebar-navigation a:hover,
.sidebar-navigation a:active,
.sidebar-navigation a:focus
{
    background-color: #333;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 1px black;
}

.clear-btn-link.clear-btn-link.clear-btn-link
{
    text-decoration: none;
    color: #222;
    cursor: default;
}

.clear-btn-link.clear-btn-link.clear-btn-link:focus,
.clear-btn-link.clear-btn-link.clear-btn-link:active
{
    border: none;
    outline: none;
    outline-offset: 0px;
}