.logo
{
    display: inline-block;
    width: auto;
    height: 50px;
}

.search-result-inner {
    width: 100%;
    height: 240px; /* Probably not fixed, instead either set in JS or precalculate */
    background-size: cover;
    border-radius: 3px;
    padding: 4px;
}

.search-result a,
.search-result a:hover,
.search-result a:focus,
.search-result a:active
{
    text-decoration: none;
}

.search-result-inner:hover,
.search-result-inner:focus,
.search-result-inner:active
{
    box-shadow: 0 0 1px #AAA;
    cursor: pointer;
}

.emoji-row
{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 60px;
    height: 100px;
}

.emoji-row span
{
    display: block;
    font-size: 26px;
}

.reaction-active,
.reaction-inactive
{
    cursor: pointer;
}

.reaction-inactive {
    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
    filter: grayscale(80%);
}

.reaction-active span {
    font-size: 28px;
}

.button-row-controls button
{
    font-size: 20px;
}

.button-row-controls .emojione
{
    /* This will trigger min-height of 20px to match (mostly) the other icons */
    font-size: 10px;
}

.comment-vote-controls
{
    margin: 0 10px 10px 0;
    top: 6px;
}

.comment-vote-controls button
{
    padding: 4px;
}

.achievement
{
    border: 1px solid grey;
    height: 106px;
    padding: 12px;
    border-radius: 3px;
}

.achievement-text
{
    padding-left: 90px;
}

.achievement img
{
    width: 80px;
    height: 80px;
    border-radius: 4px;
    background-size: cover;
}

.achievement-earned
{
    border-color: gold;
}

.achievement-earned i
{
    color: green;
}

.edit-account-profile-picture
{
    width: 120px;
    height: 100px;
    padding-right: 20px;
}

button[type="button"].btn.btn-secondary.btn-toggle-on {
	background-color: #e6e6e6;
	border-color: #adadad;
}
