.logo
{
    display: inline-block;
    width: auto;
    height: 50px;
}

.search-result-inner {
    width: 100%;
    height: 240px; /* Probably not fixed, instead either set in JS or precalculate */
    background-size: cover;
    border-radius: 3px;
    padding: 4px;
}

.search-result a,
.search-result a:hover,
.search-result a:focus,
.search-result a:active
{
    text-decoration: none;
}

.search-result-inner:hover,
.search-result-inner:focus,
.search-result-inner:active
{
    box-shadow: 0 0 1px #AAA;
    cursor: pointer;
}

.emoji-row
{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 60px;
    height: 100px;
}

.emoji-row span
{
    display: block;
    font-size: 26px;
}

.reaction-active,
.reaction-inactive
{
    cursor: pointer;
}

.reaction-inactive {
    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
    filter: grayscale(80%);
}

.reaction-active span {
    font-size: 28px;
}

.story-block-controls button
{
    font-size: 20px;
}

.story-block-controls .emojione
{
    /* This will trigger min-height of 20px to match (mostly) the other icons */
    font-size: 10px;
}
